html{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}
img{
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
a{
    color: royalblue;
}

.global-width{
    max-width: 620px;
    padding:0 20px;
    margin:0 auto;
}
.header{
    padding-top: 15px;
    margin-bottom: 50px;
    @media screen and (max-width: 768px) {
        margin-bottom: 6.5104vw;
    }
    h1{
        font-size: 32px;
        font-weight: bold;
        line-height: 1.5em;
        margin-bottom: 15px;
    }
    p{
        span{
            display: block;
            & + span{
                margin-top: 10px;
            }
        }
    }
}
.scroll-content{
    margin-bottom: 50px;
    .scroll-graphic{
        position: sticky;
        top:0;
        height: 100vh;
        .graphic-item{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: 0.5s;
            img{
                max-height: 100vh;
            }
            &.visible{
                opacity: 1;
            }
        }
    }
    .scroll-text{
        position: relative;
        padding-bottom: 1px;
        .step{
            margin-bottom: 60vh;
            padding:20px;
            background: rgba(255,255,255,0.8);
            border-radius: 10px;
            box-shadow: rgba(0,0,0,0.3) 0 0 3px;
            .strikethrough{
                text-decoration: line-through;
            }
        }
    }
}
.normal-content{
    h2{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    p{
        margin-bottom: 20px;
    }
}
.footer{
    display: flex;
    justify-content: center;
    padding: 30px 0;
    p + p {
        margin-left:10px;
    }
}
.only-pc{
    display: block;
    @media screen and (max-width: 768px) {
        display: none;
    }
}
.only-mo{
    display: none;
    @media screen and (max-width: 768px){
        display: block;
    }
}